/* 顶部部分 */
.ch-header {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	.ch-content {
		width: 1190px;
		height: 30px;
		margin: 0 auto;
		ul {
			li {
				padding: 0 8px;
				float: left;
				a {
					color: #717171;
				}
				a:hover {
					color: red;
				}
			}
		}
		.ch-listl {
			li:first-child {
				padding-left: 0;
				i {
					color: #0ae;
					vertical-align: middle;
				}
				span {
					vertical-align: middle;
				}
			}
		}
		.ch-listr {
			li {
				i {
					vertical-align: middle;
					margin-left: -4px;
				}
			}
		}
	}
}

/* logo部分 */
.ch-logosearch {
	width: 1190px;
	margin: 0 auto;
	margin-top: 20px;
	.ch-logo {
		width: 286px;
		height: 48px;
		display: block;
		margin-top: 20px;
		margin-right: 30px;
		img {
			width: 100%;
		}
	}
	.ch-search {
		margin-top: 20px;
		position: relative;
		.ch-cp {
			width: 78px;
			height: 36px;
			text-align: center;
			line-height: 36px;
			color: #666;
			border: 2px solid #0ae;
			border-right: 0;
			span {
				vertical-align: middle;
			}
			i {
				vertical-align: middle;
			}
		}
		input {
			width: 407px;
			height: 36px;
			border: 2px solid #0ae;
			border-right: 0;
			border-left: 1px solid #ccc;
			padding-left: 5px;
			color: #ccc;
		}
		.ch-ss {
			width: 98px;
			background: #0ae;
			height: 40px;
			line-height: 40px;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
		}
		.ch-cg {
			display: block;
			width: 122px;
			height: 38px;
			border: 1px solid #ccc;
			text-align: center;
			line-height: 40px;
			color: #000;
			margin-left: 20px;
		}
		.xl {
			position: absolute;
			width: 80px;
			height: 60px;
			top: 40px;
			left: 0;
			display: none;
			background: #fff;
			z-index: 10;
			ul {
				li {
					a {
						font-size: 12px;
						height: 30px;
						line-height: 30px;
						color: #000;
						text-align: center;
					}
				}
			}
		}
	}
	.ch-ewm {
		width: 76px;
		margin-left: 50px;
		img {
			width: 100%;
		}
		p {
			text-align: center;
			color: #666;
			font-size: 12px;
		}
	}
}

/* 主导航部分 */
.ch-nav {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #067fd0;
	position: relative;
	.chzhu-nav {
		width: 1190px;
		height: 40px;
		margin: 0 auto;
	}
	.chzhu-nav>li {
		float: left;
		padding: 0 25px;
		font-size: 14px;
		font-weight: 700;
		a {
			color: #067fd0;
			height: 40px;
			display: inline-block;
		}
		a:hover {
			border-bottom: 3px solid #067fd0;
		}
	}
	.chzhu-nav>li:first-child {
		width: 150px;
		height: 40px;
		font-size: 14px;
		background: #067fd0;
		color: #fff;
		span {
			margin-left: 12px;
			i {
				margin-right: 9px;
			}
		}
		.ch-sidenav {
			width: 200px;
			height: 307px;
			background: #fff;
			margin-left: -25px;
			padding-top: 15px;
			li {
				font-size: 14px;
				line-height: 30px;
				a {
					color: #000;
					display: inline;
					font-weight: 400;
				}
				a:hover {
					color: red;
					border: 0;
				}
				i {
					color: #000;
					font-weight: 400;
					padding: 0 10px 0 20px;
				}
			}
		}
	}
	.hl {
		font-size: 12px;
		position: absolute;
		top: 0;
		right: 500px;
		color: #067fd0;
	}
	.hl:hover {
		color: red;
	}
}


/* 轮播部分和无缝滚动部分 */
.ch-section	{
	width: 100%;
	background: #f2f2f2;
	/* 轮播图部分 */
	.ch-sectionlb {
		width: 1190px;
		margin: 0 auto;
		padding-top: 20px;
		.ch-lb {
			margin-left: 220px;
			width: 700px;
			height: 300px;
			.swiper-container {
				width: 100%;
				height: 300px;
				z-index: 1;
				.swiper-wrapper {
					.swiper-slide {
						text-align: center;
						font-size: 18px;
						background: #fff;
						display: -webkit-box;
						display: -ms-flexbox;
						display: -webkit-flex;
						display: flex;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						-webkit-justify-content: center;
						justify-content: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
						-webkit-align-items: center;
						align-items: center;
					}
				}
				.swiper-pagination {
					text-align: right;
					.swiper-pagination-bullet {
						width: 10px;
						height: 10px;
						text-align: center;
						line-height: 20px;
						font-size: 12px;
						color: #fff;
						opacity: 1;
						background: #999;
					}
					.swiper-pagination-bullet-active {
						color: #fff;
						background: #87ceeb;
					}
				}
			}
		}
		.ch-content {
			width: 250px;
			height: 300px;
			background: #fff;
			.ch-tx {
				width: 250px;
				text-align: center;
				img {
					display: block;
					width: 50px;
					height: 50px;
					margin: 20px auto;
					margin-bottom: 10px;
				}
				span {
					font-size: 12px;
					line-height: 20px;
					color: #000;
				}
				p {
					font-size: 12px;
					color: #666;
					line-height: 20px;
				}
				.ch-zc {
					margin-top: 10px;
					a {
						display: inline-block;
						width: 96px;
						height: 30px;
						line-height: 30px;
						border: 1px solid #067fd0;
						font-size: 14px;
					}
					a:first-child {
						background: #067fd0;
						color: #fff;
						margin-right: 5px;
					}
					a:last-child {
						background: #fff;
						color: #067fd0;
					}
				}
			}
			.ch-tab {
				.ch-title {
					width: 250px;
					height: 36px;
					border-top: 2px solid #f2f2f2;
					box-sizing: border-box;
					display: flex;
					margin-top: 20px;
					li {
						flex: 1;
						box-sizing: border-box;
						a {
							display: block;
							height: 36px;
							box-sizing: border-box;
							line-height: 36px;
							border-bottom: 2px solid #f2f2f2;
							color: #666;
							text-align: center;
							font-size: 16px;
						}
						.active {
							color: #000;
							border-bottom: 2px solid #0ae;
						}
					}
				}
				.ch-contenttab {
					width: 250px;
					height: 82px;
					div {
						ul {
							display: flex;
							li {
								flex: 1;
								min-width: 62px;
								height: 82px;
								a {
									display: block;
									margin-top: 18px;
									height: 64px;
									i {
										display: block;
										width: 30px;
										height: 30px;
										font-size: 30px;
										color: #0ae;
										margin: 0 auto;
									}
									span {
										display: block;
										color: #000;
										width: 61px;
										margin: 0 auto;
										font-size: 12px;
										line-height: 26px;
										text-align: center;
										overflow: hidden;
										text-overflow:ellipsis;
										white-space: nowrap;
									}
								}
								a:hover span {
									color: red;
								}
							}
						}
						display: none;
					}
					div:first-child {
						display: block;
					}
				}
			}
		}
	}

	/* 无缝滚动部分 */
	.ch-rot {
		width: 1190px;
		height: 210px;
		margin: 20px auto;
		margin-bottom: 0;
		.ch-pic {
			width: 200px;
			height: 210px;
			a {
				display: block;
				width: 200px;
				height: 210px;
				img {
					display: block;
					width: 100%;
					height: 100%;	
				}
			}
		}
		.scroll_horizontal{
			position:relative;
			width: 700px;
			height: 210px;
			background-color:#eee;
			.prev,.next{
				position:absolute;
				top:50%;
				margin-top:-25px;
				width:40px;
				height:50px;
				background-image:url(../images/control.png);
				background-repeat:no-repeat;
				font:0/0 Arial;
				cursor:pointer;
				z-index: 10;
				display: none;
			}
			.prev{
				left:15px;
				background-position:0 0;
			}
			.next{
				right:-25px;
				background-position:-40px 0;
			}
			.prev:hover {
				background-position: 0px -50px;
			}
			.next:hover {
				background-position: -40px -50px;
			}
			.ch-qh {
				width: 700px;
				overflow: hidden;
				height: 210px;
				margin-left: 20px;
				background: #fff;
				position: relative;
				ul {
					width: 200%;
					display: flex;
					position: absolute;
					left: 0;
					li {
						flex: 1;
						max-width: 140px;
						min-width: 140px;
						height: 210px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					a {
						display: block;
						text-align: center;
						img {
							display: inline-block;
						}
						span {
							font-size: 12px;
							color: #999;
							width: 120px;
							display: inline-block;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}
						span:hover {
							color: red;
						}
						p {
							font-size: 14px;
							width: 120px;
							line-height: 30px;
							color: #067fd0;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
							span {
								display: inline;
								font-size: 18px;
								line-height: 30px;
								color: #067fd0;
							}
							span:hover {
								color: #067fd0;
							}
						}
					}
				}
			}
		}
	}


	/* 上下无缝滚动部分 */
	.ch-topbot {
		height: 210px;
		width: 230px;
		background: #fff;
		padding: 0 10px;
		.ch-title {
			height: 38px;
			line-height: 38px;
			font-size: 12px;
			p {
				color: #000;
				height: 38px;
				span {
					line-height: 38px;
				}
				span:first-child {
					float: left;
				}
				span:last-child {
					color: #0ae;
					float: right;
				}
			}
		}
		.scroll_vertical {
			position:relative;
			width:232px;
			height: 145px;
			.ch-tobcontent{
				position:relative;
				width: 232px;
				height: 145px;
				overflow: hidden;
				ul {
					position: absolute;
					top: 0;
					left: 0;
					width: 230px;
					border: 1px solid #ccc;
					border-bottom: 0;
					li {
						line-height: 36px;
						height: 36px;
						span {
							float: left;
							display: inline-block;
							width: 52px;
							height: 36px;
							background: #f9f9f9;
							border-right: 1px solid #ccc;
							border-bottom: 1px solid #ccc;
							text-align: center;
							box-sizing: border-box;
						}
						a {
							float: left;
							display: inline-block;
							width: 178px;
							height: 36px;
							border-bottom: 1px solid #ccc;
							padding-left: 15px;
							color: #000;
							box-sizing: border-box;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}
						a:hover {
							color: red;
						}
					}
				}
			}
		}
		
		.more {
			color: #999;
			float: right;
			font-size: 12px;
			line-height: 30px;
			span {
				vertical-align: middle;
			}
			i {
				font-size: 12px;
				vertical-align: middle;
			}
		}
		.more:hover {
			color: red;
		}
	}
}


/* 广告部分 */
.ch-ad {
	width: 100%;
	background: #f2f2f2;
	padding-top: 20px;
	.ch-sc {
		width: 1190px;
		margin: 0 auto;
		border-top: 1px solid #ccc;
		display: flex;
		padding: 10px 0;
		ul {
			width: 1190px;
			display: flex;
			li {
				flex: 1;
				.title {
					width: 31px;
					padding-right: 14px;
					font-size: 14px;
					border-right: 1px dashed #ccc;
				}
				.content {
					width: 280px;
					height: 40px;
					overflow: hidden;
					margin-left: 10px;
					a {
						padding: 0 6px;
						color: #000;
						line-height: 20px;
					}
					a:hover {
						color: red;
					}
				}
			}
		}
	}
	.ch-pic {
		width: 1190px;
		margin: 0 auto;
		.ch-left {
			width: 602px;
			height: 326px;
			.pico {
				width: 242px;
				height: 326px;
				margin-right: 13px;
			}
			.pict {
				width: 332px;
				a:last-child {
					display: inline-block;
					margin-top: 11px;
				}
			}
		}
		.ch-right {
			width: 588px;
			height: 326px;
			.pico {
				width: 242px;
				height: 326px;
				margin-right: 13px;
			}
			.pict {
				width: 332px;
				a:last-child {
					display: inline-block;
					margin-top: 11px;
				}
			}
		}
	}
	.ch-pic-bottom {
		width: 1190px;
		height: 70px;
		margin: 0 auto;
		padding: 20px 0;
		padding-bottom: 0;
	}
}


/* 楼层部分 */
.ch-floor {
	width: 100%;
	background: #f2f2f2;
	.ch-title {
		width: 1190px;
		height: 38px;
		margin: 0 auto;
		padding-top: 20px;
		.ch-title-left {
			span {
				color: #000;
				font-weight: 700;
			}
			span:first-child {
				font-size: 16px;
				padding: 0 14px;
				border-left: 4px solid #067fd0;
			}
		}
		.ch-title-right {
			a {
				color: #000;
				padding: 0 10px;
				font-size: 14px;
			}
			a:last-child {
				padding: 0;
			}
			a:hover {
				color: red;
			}
		}
	}
	.ch-content {
		width: 1190px;
		margin: 0 auto;
		.ch-content-left {
			width: 246px;
			.top {
				a {
					display: block;
					width: 246px;
					height: 380px;
					overflow: hidden;
					img {
						width: 100%;
						transition: all 1s;
					}
					img:hover {
						transform: scale(1.1);
					}
				}
			}
			.bottom {
				width: 246px;
				height: 157px;
				background: #70b8f5;
				text-align: center;
				h3,p {
					color: #fff;
				}
				h3 {
					font-size: 20px;
					line-height: 32px;
					padding-top: 20px;
				}
				span {
					padding: 0 7px;
					font-size: 14px;
					font-weight: 700;
					line-height: 20px;
				}
				.bottom-content {
					margin-top: 6px;
					ul {
						width: 210px;
						height: 48px;
						margin: 0 auto;
						padding: 10px 8px;
						background: #fff;
						overflow: hidden;
						li {
							float: left;
							padding: 0 9px;
							a {
								font-size: 12px;
								line-height: 28px;
								color: #000;
							}
							a:hover {
								color: red;
							}
						}
					}
				}
			}
		}
		.ch-content-right {
			background: #fff;
			width: 944px;
			.ch-right-left,.ch-right-right {
				width: 708px;
				display: flex;
				flex-wrap: wrap;
				li {
					flex: 1;
					min-width: 236px;
					height: 228px;
					box-sizing: border-box;
					border-right: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
					a {
						display: block;
						height: 228px;
						h3 {
							font-size: 16px;
							line-height: 24px;
							color: #999;
							font-weight: 400;
							padding-top: 18px;
							padding-left: 20px;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}
						p {
							font-size: 14px;
							line-height: 24px;
							padding-left: 20px;
							color: #ccc;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}
						span {
							display: block;
							width: 140px;
							height: 140px;
							float: right;
							transition: all 1s;
							img {
								width: 100%;
							}
						}
					}
					a:hover span  {
						transform: translateX(-15px);
					}
				}
				li:nth-child(3n-2) {
					border-left: 1px solid #ccc;
				}
				li:nth-child(1),li:nth-child(2),li:nth-child(3) {
					border-top: 1px solid #ccc;
				}
			}
			.ch-right-right {
				width: 236px;
				li {
					height: 152px;
					min-width: 236px;
					border-left: 0 !important;
					border-top: 0 !important;
					a {
						display: block;
						height: 150px;
						span {
							display: block;
							width: 78px;
							height: 78px;
						}
					}
				}
				li:first-child {
					border-top: 1px solid #ccc !important;
				}
			}
			.bottom {
				width: 944px;
				height: 81px;
				border: 1px solid #ccc;
				box-sizing: border-box;
				border-top: 0;
				ul {
					width: 944px;
					height: 80px;
					display: flex;
					li {
						flex: 1;
						height: 80px;
						min-width: 80px;
						a {
							display: block;
							margin: 0 auto;
							width: 80px;
							height: 80px;
							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}


/* 供应商部分 */
.ch-seller {
	width: 100%;
	background: #f2f2f2;
	padding-bottom: 20px;
	.ch-title {
		width: 1190px;
		margin: 0 auto;
		padding: 20px 0;
		span {
			font-size: 16px;
			color: #000;
			line-height: 20px;
			font-weight: 700;
		}
		span:last-child {
			font-size: 12px;
			padding: 0 10px;
		}
	}
	.ch-content {
		width: 1190px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		.ch-contento {
			flex: 1;
			min-width: 595px;
			background: #fff;
			box-sizing: border-box;
			border-bottom: 1px solid #ccc;
			.ch-content-title {
				height: 86px;
				width: 595px;
				.ch-ct-left {
					width: 400px;
					height: 86px;
					.pic {
						width: 86px;
						height: 86px;
						padding: 0 20px;
						img {
							width: 100%;
						}
					}
					h3 {
						padding-top: 23px;
						font-weight: 400;
						font-size: 16px;
						line-height: 26px;
						color: #000;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					p {
						color: #ccc;
						font-size: 14px;
						line-height: 24px;
					}
				}
				.ch-ct-right {
					display: block;
					width: 80px;
					height: 32px;
					background: #ccc;
					color: #000;
					font-size: 16px;
					line-height: 32px;
					text-align: center;
					margin-top: 24px;
					margin-right: 8px;
				}
			}
			ul {
				width: 595px;
				display: flex;
				li {
					flex: 1;
					min-width: 194px;
					.box {
						display: block;
						width: 200px;
						padding: 0;
						.pic {
							width: 194px;
							height: 194px;
							margin: 0 auto;
						}
					}
					a {
						display: block;
						font-size: 12px;
						line-height: 30px;
						padding-left: 7px;
					}
					.a1 {
						color: #000;
						line-height: 18px;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
						margin-top: 10px;
						height: 39px;
					}
					.a1:hover {
						color: red;
						text-decoration: underline;
					}
					.a2 {
						color: red;
					}
				}
			}
		}
		.ch-contento:nth-child(odd) {
			border-right: 1px solid #ccc;
		}
		.ch-contento:nth-last-child(2),.ch-contento:last-child {
			border-bottom: 0;
		}
	}
}


/* 底部部分 */
.ch-footer {
	width: 100%;
	background: #121212;
	.ch-content {
		width: 1190px;
		margin: 0 auto;
		.top {
			border-bottom: 1px solid #7d7e75;
			h3 {
				font-size: 16px;
				line-height: 40px;
				color: #fff;
				padding: 20px 0;
			}
			ul {
				padding-bottom: 20px;
				li {
					float: left;
					padding: 0 10px;
					a {
						font-size: 12px;
						color: #7d7e75;
					}
				}
				li:first-child {
					padding-left: 0;
				}
			}
		}
		.center {
			border-bottom: 1px solid #7d7e75;
			.ch-left {
				width: 820px;
				display: flex;
				dl {
					flex: 1;
					dt {
						color: #fff;
						font-weight: 700;
						font-size: 16px;
						line-height: 30px;
						padding-top: 20px;
						padding-bottom: 20px;
					}
					dd {
						a {
							color: #7d7e75;
							font-size: 12px;
							line-height: 30px;
						}
					}
				}
			}
			.ch-right {
				width: 100px;
				margin-top: 21px;
				margin-left: 60px;
				text-align: center;
				.pic {
					width: 100px;
					height: 100px;
					img {
						width: 100%;
					}
				}
				span {
					font-size: 12px;
					color: #fff;
					line-height: 28px;
				}
			}
		}
		.bottom {
			ul {
				padding: 16px 0;
				li {
					float: left;
					a {
						font-size: 12px;
						color: #7d7e75;
						padding: 0 10px;
						border-right: 1px solid #7d7e75;
					}
				}
				li:first-child a {
					padding-left: 0;
				}
				li:last-child a {
					border: 0;
				}
			}
			p {
				font-size: 12px;
				color: #7d7e75;
				padding: 15px 0;
				span {
					margin-right: 30px;
				}
			}
			p:nth-child(3) {
				padding-top: 0;
			}
			.pic {
				img {
					width: 80px;
					height: 30px;
					display: inline-block;
				}
			}
		}
	}
}